<h1>New credentials</h1>

<%= form_for :credential, url: credentials_path do |form| %>

    <p>
      <%=form.label :name  %><br>
      <%=form.text_field :name  %>
    </p>

    <p>
      <%=form.label :access_key_id %><br>
      <%=form.text_field :access_key_id %>
    </p>

    <p>
      <%=form.label :secret_access_key %><br>
      <%=form.text_field :secret_access_key %>
    </p>

    <p>
      <%= form.submit %>
    </p>

<% end %>